html {
    scroll-behavior: smooth;
    cursor: url('/static/cursor.png'), auto;
}

body {
    background-repeat: no-repeat;
    background-color: #F7ECDF;
    width: 100%;
    height: 100%;
    margin-top: 5%;
}



#formTitle {
    font-family: 'Yeseva One', cursive;
    font-size: 72px;
    color: #EF972E;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.info {
    font-family: 'Yeseva One', cursive;
    font-size: 45px;
    color: #EF972E;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

#submit{
    border-radius: 20px; 
    margin-left: auto;
    margin-right: auto;
    font-family: Raleway;
    color: white;
}

#confirm{
    border-radius: 20px; 
    margin-left: auto;
    margin-right: auto;
    font-family: Raleway;
    color: white;
}

#textBox{
    width: 300px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

#namanya {
    font-family: 'Yeseva One', cursive;
    font-size: 52px;
    color: #EF972E;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}
div#resp {
    max-height: 300px;
    overflow-y: scroll;
}
div#response {
    background-color: #EF972E;
    margin-bottom: 20px;
    color: antiquewhite;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    border-radius: 30px;
}

div#response h1{
    font-size: 20px;
    font-family: Raleway;
}

.thename{
    font-weight: bold;
    color: white;
}

.thestatus{
    font-weight: bold;
    color: white;
}

.statustime{
    font-weight: bold;
    color: white;
}


div#response p{
    font-size: 15px;
    font-family: Raleway;
}

#name{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: #EF972E;
}

#status{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: #EF972E;
}

.row.six {
    width: 90%;
    margin-top: 5vh;
    margin-right: auto;
    margin-left: auto;

    background-color: #EF972E;
    border-radius: 20px;
    box-shadow: transparent;
    margin-bottom: 5%;
    color: white;
}

.row.six:hover {
    color: #f2fcfe;
    background-color: #FAB083;
    box-shadow: inset 3px 3px 3px 0 rgba(0,0,0,0.2);
}

.row.six input {
    padding: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

    background-color:rgba(0, 0, 0, 0);

    color: black;
    font-family: Raleway;
    font-size: 150%;
    text-align: center;
    border: none;
}


.row.five .row.seven #cancel{
    color: blue;
    font-family: Raleway;
    width: 100%;
    padding: 7px 30px;
    background-color: transparent;
    text-align: center;

}


.row.five .row.seven input#confirm {
    width: 30%;
    padding: 7px 30px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 18vw;
    margin-right: 18vw; */

    background-color: #EF972E;
    border-radius: 20px;
    border-color: transparent;
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.2);

    color: #F7ECDF;
}

.row.five .row.seven input#confirm:hover {
    background-color: #FAB083;
    box-shadow: inset 3px 3px 3px 0 rgba(0,0,0,0.2);
}

.row.five {
    margin-top: 15%;
}
